<h1>Meeting about to start</h1>

<input type="hidden" id="opentok-api-data"
  data-api-key="<%= @api_key %>"
  data-session-id="<%= @session_id %>"
  data-token="<%= @token %>">

<div class="container align-center">
  <div id="videos">
    <div id="subscriber"></div>
    <div id="publisher"></div>
  </div>
</div>
