//design for doctor index page
body {
  // background-color: #00b0c9;
  background-color: white;
}

.doctor-card-index {
    overflow: hidden;
    height: 400px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: stretch;
    margin: 20px;
    padding: 40px;
    position: relative;
    border-radius: 8px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    h4 {
      letter-spacing: 4px;
      font-size: 30px;
    }

    p, li {
      font-size: 20px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }

.doctor-card-index .doctor-card-avatar-rating-index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;

  img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    width: 200px !important;
    height: 200px;
    margin: 0 auto;
  }
}

.doctor-card-index-link {
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

//button
// .btn-ghost {
//   color: #4A4A4A;
//   border: 1px solid #4A4A4A;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
// }

// .btn-ghost:hover {
//   opacity: 1;
// }

