// Specific CSS for your home-page

//design for doctor show page
.doctor-card {
    overflow: hidden;
    height: 700px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    align-items: stretch;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .doctor-card img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    width: 250px !important;
    height: 250px;
    margin: 0 auto;
}
  
  .doctor-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .doctor-card p {
    font-size: 15px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .doctor-card .doctor-card-infos {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .container img {
    width: fit-content;
    margin-left: 300px auto;
  
  }
  
  .container p {
    text-align: left;
    font-size: 20px;
  }
  
  .m-2 {
    margin: 0rem !important;
  }
  
  .container h1 {
      text-align: center;
  }

  .container {
      display: flex;
      

  }



//button 
.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .btn-ghost:hover {
    opacity: 1;
  }
  
  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    background: #1BCB7F;
    color: white;
  }
  
  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
    
  }
  
  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
  
  //design for review section show page
.review-wrapper {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 40px;
  img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    width: 100px !important;
    height: 100px;
    margin: 0 auto;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: center;
  }

}
  .review-card {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    margin-bottom: 20px;
  }
  
  .review-info {
    margin-right: 20px;
    width: 150px;
    word-wrap: break-word;
  }
  .review-wrapper .review-card-infos {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  // .container-two img {
  //   width: fit-content;
  //   margin-left: 300px auto;
  
  // }
  
  // .container-two p {
  //   text-align: left;
  //   font-size: 20px;
  // }
  
  // .m-2 {
  //   margin: 0rem !important;
  // }
  
  // .container-two h1 {
  //     text-align: center;
  // }

    //  body {
    //  background-color: #0093E9;
    //  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
//    }

//design for Articles section show page
.article-card {
    overflow: hidden;
    height: 700px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: stretch;
    margin: 20px;
    padding: 40px;
  }
  
  .article-card img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    width: 250px !important;
    height: 250px;
    margin: 0 auto;
}
  
  .article-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .article-card p {
    font-size: 15px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .article-card .article-card-infos {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .container-three img {
    width: fit-content;
    margin-left: 300px auto;
  
  }
  
  .container-three p {
    text-align: left;
    font-size: 20px;
  }
  
  .m-2 {
    margin: 0rem !important;
  }
  
  .container-three h1 {
      text-align: center;
  }

  
   
    //  background-color: #0093E9;
    //  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    //this is for calndar card
    .Calendar-card {
      overflow: hidden;
      height: 700px;
      background: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: stretch;
      margin: 20px;
      padding: 40px;
      
    }

    //this is for the list of doctors page 
    .doctors_title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 10px;
}