<input id="input-white-list-json" type="hidden" value=<%= appointments_white_list %>>

<%= form_with authenticity_token: true do |f| %>
  <%= f.text_field :start_time, id: "input-meeting-date",
    data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now
    } %>
<% end %>

<!-- Modal from Bootstrap -->
<div class="modal fade" id="selectTimeSlotCenteredModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          When do you wish to meet Dr. Something?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for [doctor, appointment] do |f| %>
          <div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal from Bootstrap -->
