<h1>List of available specialists</h1>

<ul>
  <!-- doctor's avatar -->
  <% @doctors.each do |doctor_hash| %>
    <% doctor = doctor_hash[:doctor] %>
    <% specializations = doctor_hash[:specializations] %>
    <% rating = doctor_hash[:rating] %>

    <li>
      <p><%= "#{doctor.first_name} #{doctor.last_name}" %></p>
      <p><%= rating %></p>
      <p><%= doctor.about %></p>

      <ul>
        <% specializations.each do |specialization| %>
            <li><%= specialization %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
