#videos {
  position: relative;
  box-sizing: content-box;
  height: 50vh;
}

#subscriber {
  // position: absolute;

  div {
    width: 40vw !important;
    height: 50vh !important;
    max-width: 500px;
    // background-color: black;
  }
}

#publisher {
  // position: absolute;
  z-index: 10;

  div {
    width: 40vw !important;
    height: 50vh !important;
    max-width: 500px;
    // background-color: purple;
  }
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr auto;
}
