// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "doctors/index";
// template
@import "template/owl-carousel";
@import "template/font-awesome";
@import "template/templatemo-art-factory";
@import "template/flex-slider";
@import "template/bootstrap.min";

// @import "dark.css"


body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container{
  min-height: calc(100vh);
}

.overflow-scoll{
  overflow: scroll;
}

.vh-100{
  height: 100vh !important;
}
