<ul class="nav nav-tabs" id="myTab" role="tablist">
  <% unless @appointment.nil? %>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#current-appointment" role="tab" aria-controls="home" aria-selected="true">
        Now: Appointment with Doctor <%= @doctor_full_name %>
      </a>
    </li>
  <% end %>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#past-appointments" role="tab" aria-controls="profile" aria-selected="false">
      My Past Appointments
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="contact" aria-selected="false">
      My Reviews
    </a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <% unless @appointment.nil? %>
    <div class="tab-pane fade show active" id="current-appointment" role="tabpanel" aria-labelledby="home-tab">
      <h1>Yay! You've got an appointment with Dr. <%= @doctor_full_name %> right now!</h1>
      <br>
      Join the meeting <%= link_to 'here', meet_path %>
    </div>
  <% end %>

  <div class="tab-pane fade" id="past-appointments" role="tabpanel" aria-labelledby="profile-tab">
    <ul>
      <% @past_appointments.each do |appointment| %>
        <li>
          appointment
        </li>
      <% end %>
    </ul>
  </div>

  <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="contact-tab">
    <ul>
      <% @reviews.each do |review| %>
        <li>
          review
        </li>
      <% end %>
    </ul>
  </div>
</div>
