.video-box h1 {
    text-align: center;
}

.align-center {
    /* border: 1px solid; */
    /* height: 50vh; */
    padding: 2vh;
    background: white;
    margin-top: -10vh;
    border-radius: 8px;
}

